# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Pytest cache
.pytest_cache/

# mac specific
.AppleDouble
.LSOverride

# Misc
*.sqlite3
